img, object, embed, video {
    max-width: 100%
}

header, .row {
    width: 100%;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

h1 {
    font-size: 40px;
    font-family: 'Allerta';
}

h2 {
    font-size: 36px;
    font-family: 'Allerta';
}

.bbutton {
    min-height: 48px;
    min-width: 48px;
    font-size: 16px;
    font-family: 'Francois One', Arial;
    padding: 8px 16px;
    max-width: 80%;
    display: block;
    margin: 45px auto;
    color:#fff;
    background-color: #d01a24;
    border: solid 2px #d01a24;
    border-radius: 4px;
}

.bbutton:hover {
    background-color: aqua;
    color: #000;
    border: solid 2px #000;
}

.page-container {
    width: 100%;
    max-width: 1100px;
    background-color: #8e8e8e;
    margin: 0 auto;
}

body, html {
    width: 100%;
    background-color: #1a2359;
    margin: 0;
    padding: 0;
}

div.menu-wrapper ul.nav-list li {
    list-style: none;
    display: inline;
    float: right;
    font-size: 16px;
    line-height: 175px;
    font-family: 'Roboto';    
}

nav ul.nav-list li.menu-item a {
    font-size: 16px;
    color: #000;
    font-family: 'Roboto';
    text-decoration: none;
    text-transform: uppercase;
    padding: 24px 12px;
}

.nav-container {
    display: flex;
    width: 100%;
    margin-right:auto;
    margin-left: auto;
    max-width: 1100px;
    background-color: #eee;
}

div.logo-wrapper {
    width: 25%;
    max-height: 200px;
    order: 0;
}

div.menu-wrapper {
    width: 75%;
    padding-right: 50px;
    float: right;    
}

.title {
    text-align:center;
}

.sub-title {
    text-align:center;
}

.hero-container .title-container {
    display: block;
    background-color: rgba(208,26,36,0.7);
    margin: 0 auto;
    max-width: 60%;
    padding: 12px 0;
}

.row#hero {
    margin-top: 78px;
}

.row-inner{
    padding: 10px 15px;
}

.mission-wrapper {
    background-color: #747db3;
    padding: 1px 10px;
}

.intro {
    color: white;
    text-align: center;
}

#mission {
    background-color: #3547b3;
}

.columns-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home .title, .home .sub-title {
    color: #fff;
}

.row .hero-container {
    background-image: url('http://bwagner-webdev.com/images/home-hero-mobile.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    min-height: 140px;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* small devices */
@media screen and (max-width: 450px) {
    
    .row .hero-container {
        background-image: url('http://bwagner-webdev.com/images/home-hero-mobile.png');
    }
    
    h1 {
        font-size: 26px;
        font-family: 'Allerta';
    }
    
    h2 {
        font-size: 20px;
        font-family: 'Allerta';
    }
    
    h4 {
        font-size: 18px;
        font-family: 'Raleway';
    }
}

/* Tablets and small screens */
@media screen and (min-width: 451px)  {
    .row .hero-container {
        background-image: url('http://bwagner-webdev.com/images/home-hero-tablet.png');
        background-size: cover;
        height: auto;
        padding-top: 120px;
        padding-bottom: 80px;
    }
        
    h1 {
        font-size: 30px;
        font-family: 'Allerta';
    }
    
    h2 {
        font-size: 24px;
        font-family: 'Allerta';
    }
    
    h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 75px;
    }
    
    div.logo-wrapper{
        width: 100px;
        max-width: 100px;
    }
    
    div.menu-wrapper {
        max-width: 100%;
        padding-right: 20px;
    }
    
    .fa-bars {
        padding-top: 15px;
        float: right;
    }
    
    ul.nav-list {
        display: none;
    }
}
@media screen and (min-width: 601px) {
    span#mobile-menu { 
        display:none;
    }
    
    .row#hero {
        margin-top: 191px;
    }
    
    div.logo-wrapper {
        width: 200px;
    }
    
    .logo {
        width: 100%;
    }
}

/* larger tablets and small computers */
@media screen and (min-width: 721px) {
    
}

/* Desktop */
@media screen and (min-width: 901px) {
    .row .hero-container {
        background-image: url('http://bwagner-webdev.com/images/home-hero.png');
        background-size: cover;
        height: auto;
        
        padding-top: 300px;
        padding-bottom: 200px; 
    }
    
    h1 {
        font-size: 44px;
        font-family: 'Allerta';
    }
    
    h2 {
        font-size: 34px;
        font-family: 'Allerta';
    }
    
     h4 {
        font-size: 32px;
    }
    
    .mission-wrapper {
        margin: 5px 30px;
    }
}
@media screen and (min-width: 1201px) {
    
}